body {
  font-family: "Cairo", sans-serif;
}

/* cheack language */
.language-contaienr {
  right: 9%;
}

/* the weather section */
.weather-box {
  transform: translate(-50%, -50%);
}

.weather-box .search-bar .search-inp {
  padding: 9px 20px;
}

.weather-status.loading {
  visibility: hidden;
  max-height: 0px;
}
